.bunker{
    width: 400px;
    height: 300px;
    display:flex;
    border-radius: 5px;
    text-align: center;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-radius: 5px;
}
.bunker1{
    width: 200px;
    height: 150px;
    padding-left: 24px;
    transform: translate(23.5px, 0px);
    border-radius: 10px;
}
.bunker2{
    width: 200px;
    height: 150px;
    padding-left: 24px;
    transform: translate(0px, 160px);
    transform: translate(-424px, 151px);
    border-radius: 5px;
}
.price{
    color: black;
    transform: translate(820px, 0px);
}
.button{
    width: 70px;
    height: 30px;
    transform: translate(800px, 0px);
    background-color: orange;
    border: none;
}
.icons{
    width: 50px;
    height: 50px;
}
.Dados {
    text-align: left;
    justify-content: space-around;
}
.description{
    text-align: justify;
    letter-spacing: 2px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upper {
    display: flex;
    flex-direction: row;
}

.rightImages {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    min-width: 500px;
    flex-wrap: wrap;
}

.rightIMAGE {
    max-width: 200px;
    max-height: 150px;
}