.header {
  border: solid black;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  border: 0ch;
  text-align: center;
}

.container_singup {
  border: solid black;
  height: inherit;
  width: auto;
}

.headeritem {
  flex: 3;
  display: flex;
  flex-direction: row;

}

.login {
  position: relative;
}

.button_login {
  background-color: black;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  
}

.button_singup {
 
  background-color: black;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transform: translate(-360px, 0px)
}
.button_perfil {
 
  background-color: black;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transform: translate(-350px, 0px)
}

.body {
  padding: 5px;
  text-align: center;
  margin: 6px;
  display: flex;
  justify-content: space-around;
}

.search input {
  height: calc(inherit);
  width: 10cm;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 10px;
  margin-bottom: 350px;
  color: white;
  position: center;
}

.search svg {
  right: 0px;
  margin-top: 10px;
  color: black;
  position: absolute;
  margin-right: 215px;
  color: white;
}


.body {
  padding: 5px;
  text-align: center;
  margin: 6px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  max-width: 1200px;

}

.details {
  padding: 5px;
  margin: 3px;
  display: flex;
  justify-content: space-around;
}

.squares {
  text-align: center;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
}





.button_login {
  margin-left: 10cm;
  margin-bottom: 10cm;
}

.button_singup {
  margin-left: 10cm;
  margin-bottom: 10cm;
}

.header h1 {
  color: white;
  position: relative;
  left: 50px;
  padding-top: 70px;
  text-align: left;
  text-align: justify;
}

.header h5 {
  color: white;
}

.BunkerImage img {
  max-width: 300px;
  border-radius: 10px;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.Dados {
  text-align: left;
}

.logo {
  width: 100pxpx;
  height: 100px;
  position:relative; left: 0cm; 
}

.icones {
  width: 100px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  justify-items: center;
  transform: translate(150px, 0px)

}

.formas {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.parte2 h5 {
  text-align: center;
}

.parte2 h2{
  text-align: center;
padding-top: 70px;
}

.tags img{
 width: 30px;
grid-row: auto;
}

.Dados{
  transform: translate(90px, 0px)
}
