
.container_singup{
    display : flex ;
    border: solid black;  
    flex-direction: row ;
    justify-content : center;
}

.row{
        padding-top: 100px;
        display: flex;
        flex-direction: column ;
        
}
.terms {
    display : flex ; 
    flex-direction: row ;
    justify-content: center;

}


