
.container_singup{
    display : flex ; 
    flex-direction: row ;
    justify-content : center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.row button{
    
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: medium; 
}

.row{
        display: flex;
        justify-content: center;
        flex-direction: column ;
        font-size: xx-large ;
        color: white ;
}
.row input{
    height:22px ;
}

.terms {
    display : flex ; 
    flex-direction: row ;
    justify-content: center;
    font-size: medium ;
}


